<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter_clone</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Twitter Clone</h1>
      </header>
      <article class="link_to_page">
        <div class = "top_page_menu">
          <img src="/assets/top_page.png" alt="" class="top_image">
          <table>
            <tr ><p class = "menu"><%= link_to '一覧', posts_path %></p></tr><br>
            <tr ><p class = "menu"><%= link_to '新規投稿', new_post_path %></p></tr>
          </table>
        </div>
      </article>
      <footer>
        <p>Homework.WEF2109<br>Kim sung joo</p>
      </footer>
    </div>
  </body>
</html>
