<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter_clone</title>
  </head>
  <body>
    <header>
      <h1>Twitter Clone</h1>
    </header>
    <article class="link_to_page">
      <!-- <img src="../assets/" alt=""> -->
      <table>
        <tr>
          <th><%= link_to '一覧', posts_path %></th>
          <td><%= link_to '新規投稿', new_post_path %></td>
        </tr>
      </table>
    </article>
    <footer>
      <p>Homework.WEF2109</p>
      <p>Kim sung joo</p>
    </footer>
  </body>
</html>
